<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="MongoConfiguration" type="xUnitMongoDBDataAttribute.MongoConfiguration, xUnitMongoDBDataAttribute"/>
  </configSections>
  <connectionStrings>
    <add name="MongoDB" connectionString="mongodb://localhost"/>
  </connectionStrings>
  <MongoConfiguration databaseName="test" collectionName="SerializeTest" queryProperty="Name" queryValue="NoName" queryValueType="System.String"/>
</configuration>